.div-1{
    background: slategray;
    width: auto;
    height: 60px;
    padding-left: 25px;
    padding-top: 30px;
}
.div-2 nav a{

    font-style: italic;
    text-decoration: none;
    color: thistle;
    padding-left: 25px;
    word-spacing: 25px;
    
}
.div-3{
    background: cadetblue;
    width:auto;
    height: 500px;
    margin-top: 15px;
    

}
.nagłówek-1{
    font-style: italic;
    color: beige;
    padding-top: 10px;
    padding-left: 10px;
}
.img-1{
    width: 100px;
    height: 100px;
    padding-left: 50%;
}
.tekst-1{
    letter-spacing: 4px;
    font-style: italic;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    
}
.div-4{
    background: #212738;}

.div-5{
    background: darkslateblue;
    width:auto;
    height: 500px;
    margin-top: 15px;
}
.div-6{
    background-image: url("sailaway.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.img-2{
     background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 15px;
    
}
.img-3{
    position: fixed;
    right: 5px;
    width: 5%;
    height: 5%;
    
}



        