.div-1{
    background: slategray;
    width: auto;
    height: 60px;
    padding-left: 25px;
    padding-top: 30px;
}
.div-2{
    font-style: italic;
    text-decoration: none;
    color: thistle;
    margin padding-left: 25px;
    
    

    
    


}

        